body{
   background: rgb(242, 242, 242);
   padding-top: 20px;
}

// *********************
// misc
// *********************
.guide{
   // border: 1px solid $temp-blue;
}

.clear{
   clear: both;
}

// *********************
// header
// *********************
.header{
   background: white;
   z-index: 990;
   width: 100%;
}

#header-top{
   background: #4A4A4A;
}

.header-top-innner{
   width: 100%;
}

.sticky-container{
   width: 100%;
}

.sticky{
   width: 100%;
}

.menu-bg{
   background: #e6e6e6;
}

.site-branding{
   display: inline-block;
   margin-top: 10px;
}

.site-title{
   a{
      color: white;
      font-weight: bolder;
      padding-left: 20px;
   }

}

// shop elements
.shop-elements{
   float: right;
   margin-top: 10px;
   margin-right: 20px;
   a{
      color: white;
      font-size: 14px;
      padding-left: 20px;
   }
   #wc-cart-dropdown-cont{
      float: right;
   }
}

// *********************
// footer
// *********************
.site-footer{
   background: white;
   margin-bottom: 20px;
   background: #e6e6e6;
   padding: 50px 0;
   .site-info{
      display: table;
      margin-left: auto;
      margin-right: auto;
   }
}

// *********************
// content area
// *********************
.site-content{
   .row{
      background: white;
   }
}

.homeslider-cont{
   width: 100%;
   height: 300px;
   margin-top: 30px;
   background: #EFEFEF;
   h1{
      color: #4A4A4A;
      margin-left: 50px;
      padding-top: 50px;
   }
}

// page
.padding20{
   padding: 0 30px;
}

h1.entry-title{
   font-size: 25px;
   font-weight: bold;
}
