// cart dropdown widget
section#widget_shopping_mini_cart-3.widget.widget_shopping_mini_cart.dropdown-cart{
   margin-left: 20px;
   background: black;
}

div.dropdown-cart-button{
   border: none;
   a.dropdown-total{
      color: black;
   }
}
