#woowrap{

}

// *********************
// archive products page
// *********************


// grid column number
@media (min-width: 768px){
   .woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
      margin: 0 3.8% 2.992em 0;
      width: 29%;
   }

}


// excerpt on archive page
.woocommerce ul.products li a h3{
   font-size: 18px;
   font-weight: bold;
   text-transform: uppercase;
}

// excerpt on archive page
.woocommerce ul.products li a div{
   color: black;
   font-size: 14px;
}

// single product page

// variations
.woocommerce div.product form.cart .variations tbody{
   border: none;
}
// label
.woocommerce div.product form.cart .variations td.label{
   background: none;
   padding-top: 15px;
}

// select dropdown
.woocommerce div.product form.cart .variations select{
   width: 70%;
}

// *********************
// MY account
// *********************
div#customer_login{
   h2{
      font-size: 20px;
   }
}

h2#registration{
   font-size: 20px;
}

.tabs-content{
   margin-bottom: 30px;
}
